<%# Locals: transaction (required) %>
<td class="px-4 py-2 h-14 whitespace-nowrap text-sm text-tertiary">
  <% badge = transaction.payment_type_badge %>
  <% if badge %>
    <span class="<%= transaction.payment_type == 'installment' ? 'text-info' : 'text-tertiary' %>">
      <%= badge %>
    </span>
  <% else %>
    <%= t("shared.cells.payment_type.lump_sum") %>
  <% end %>
</td>
