<%= turbo_stream.update "flash", partial: "shared/flash" %>
<%= turbo_stream.replace dom_id(@duplicate_confirmation) do %>
  <div class="p-6" id="<%= dom_id(@duplicate_confirmation) %>">
    <div class="text-gray-500">
      <span class="font-medium">처리됨:</span>
      <% case @duplicate_confirmation.status %>
      <% when 'keep_both' %>
        둘 다 유지
      <% when 'keep_original' %>
        기존 거래 유지
      <% when 'keep_new' %>
        새 거래로 교체
      <% end %>
    </div>
  </div>
<% end %>
