<%= turbo_stream.replace dom_id(@mapping), partial: "mapping_row", locals: { mapping: @mapping } %>
<%= turbo_stream.update "flash", partial: "shared/flash" %>
<%= turbo_stream.append "slideover-content", '<div data-controller="slideover-close"></div>'.html_safe %>
